body{
    background-color: beige;
}
h1{
    text-align: center;
    text-transform: capitalize;
    
}
li{
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
}
.form{
  
    padding: 10px;
    margin: 5px 0;
   
    
    border-radius: 4px;
    font-size: 16px;
    background-color: #f0f8ff;
    border-color: #4caf50;
    color: #888;
    font-style: italic
}