<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='fun.css') }}">
</head>
<body>
    <h1>navigation</h1>
       <div class="url">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{url_for('sk')}}">santhosh  </a></li>
               
            </ul>
        </nav>
       </div>
      <div class="container">
         <h3>FACTORIAL OF GIVEN NUMBER</h3>
         <p>this page calculate the factorial of given number</p>
      </div>

    <div class="form">

         <form method="POST" action="{{ url_for('find') }}">
            <input type="number" name="num1" placeholder="enter the number" required>
         </form>
         
        {% if result is not none %}
        <h3>Result: {{ result }}</h3>
    {% endif %}
      </div>
     
</body>